!!!
html
  head
    title= title
    script(src='/vendors/require.js')
    script
      var cacheBust = 16;
      require.config({
          baseUrl: "/js"
        , waitSeconds: 15
        , paths: {
            'backbone'                : '/vendors/backbone'
          , 'jquery'                  : '/vendors/jquery-2.0.0.min'
          , 'jquery.transit'          : '/vendors/jquery.transit'
          , 'socket.io'               : '/socket.io/socket.io'
          , 'underscore'              : '/vendors/underscore'
          , 'backbone.iobind'         : '/vendors/backbone.iobind'
          , 'backbone.iosync'         : '/vendors/backbone.iosync'
          , 'templates'               : '/js/templates.js?v=' + cacheBust
          }
        , shim: {
              'backbone': {
                  deps: ['underscore', 'jquery', 'socket.io'],
                  exports: 'Backbone'
              }
              , 'underscore': {
                  exports: '_'
              }
              , 'backbone.iobind'         : ['underscore', 'backbone']
              , 'backbone.iosync'         : ['underscore', 'backbone']
              , 'jquery.transit'          : ['jquery']
          }
      });

      // lets get it all going.
      require( ['realtime-client'],
        function(client) {
          client.init();
        }
      );

    //- uses http://designmodo.github.io/Flat-UI/
    link(rel='stylesheet', href='/vendors/flat-ui/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/vendors/flat-ui/css/flat-ui.css')
    link(rel='stylesheet', href='/vendors/flat-ui/css/flat-ui.css')
    link(rel='stylesheet', href='/css/main.css')
  body